/* Úkol č. 1: 
Nadpis Piškvorky je fontem Lobster. Najdeš ho zdarma na Google Fonts.
Různé vzdálenosti, velikosti textu odhadni od oka nebo přesně změř na obrázku výše.
Gradient v pozadí jde z fialové  #615dad do růžové  #ffc8da.
Další barvy, které se ti budou hodit:
Barva textu  #ffffff.
Podkladová tmavě modrá  #283e50.
Tlačítko Pravidla  #1fcca4. A po najetí myši  #1cbb96.
Tlačítko Začít hrát  #0197f6. Po najetí  #0090e9.  */


body {
  background-image: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 0.2em;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  max-width: 27vmax;
  margin-top: 2.5vh;
  margin-bottom: 25vh;
}

img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: -7px;
}

.box__text {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  text-align: center;
}

.box__text--title {
  font-family: 'Lobster', cursive;
  font-size: 3em;


}

.box__text--description {
  font-size: 1.1em;
  font-weight: lighter;
  padding: 10px;
  line-height: 1.5;
}

.box__buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  width: 100%;
}


.box__buttons--rules {
  background-color: #1fcca4;
  padding: 15px 0px 15px 0px;
}

.box__buttons--rules:hover {
  background-color: #1cbb96;
}

.box__buttons--play {
  background-color: #0197f6;
  border-top: solid 0.5px black;
  padding: 15px 0px 15px 0px;

}

.box__buttons--play:hover {
  background-color: #0090e9;

}

a {
  color: #ffffff;
  text-decoration: none;
}


/* Úkol č. 2: https://github.com/Czechitas-podklady-WEB/ukol-piskvorky-2
Pokračuj v repozitáři piskvorky z prvního úkolu.

1. Přidej druhý html soubor hra.html a odkaž na něj z tlačítka Začít hrát z předchozí stránky. --> DONE

2. Podle potřeby si stáhni všechny obrázkové podklady. Ber na vědomí, že tyto ikonky jsou vybarvené bílou barvou, takže na svělém pozadí je neuvidíš. --> DONE

Domů: home.svg
Znovu: restart.svg
Křížek: cross.svg
Kolečko: circle.svg

3. Uprav html a css (Úzká obrazovka, Širší obrazovka) podle obrázků v odkazu.

4. V tomto úkolu nebudeš potřebovat @media query. Hlavnímu obsahu nastav maximální šířku pomocí max-width: 80vmin. Stránka se tak bude lépe přizpůsobovat širokoúhlým obrazovkám i telefonům na výšku. --> NASTAVENO PRO .container_game

5. Pro tlačítka v pravém horním rohu použij html prvek <a>. První tlačítko nasměruj na úvodní stránku a druhé na hra.html, aby znovu načetlo právě zobrazenou stránku. --> DONE; Nezapomeň na stejné zatmavení po najetí myši jako u předchozí stránky. --> DONE

6. Pro jednotlivá políčka, celkem jich je 100, použij html prvek <button>. Po najetí myši by se měl lehce rozsvítit. --> DONE

Poznámky: (a) V pozdějších úkolech budeš měnit ikonku právě hrajícího hráče pomocí javascriptu. Zatím zobraz staticky, jen s použitím html a css, kroužek. --> DONE (b) Efekty po najetí myši se většinou týkají i stavu :focus, aby se stránka dala ovládat například i z klávesnice.

/* Styly pro "playing field" = .board */

.container_game {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.header_game {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_game {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 4.2em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;

}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu_player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}

.menu_player_now {
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0;
}

.menu_circle {
  width: 1.8em;
  align-self: center;
  margin-left: 1em;
  margin-bottom: -1.5em;
}

.menu_buttons {
  display: flex;
  width: 8em;
  height: 4em;
  align-items: center;
  justify-content: space-evenly;
}

.button--home {
  width: 1.5em;
  background-color: #1fcca4;
  padding: 0.8em;
  border-radius: 18%;
}

.button--home:hover,
.button--home:focus {
  background-color: #1cbb96;
}

.button--restart {
  width: 1.5em;
  background-color: #0197f6;
  padding: 0.8em;
  border-radius: 18%;

}

.button--restart:hover,
.button--restart:focus {
  background-color: #0090e9;
}

.board {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-height: 80vmin;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: solid black 0.1px;
  background-color: transparent;
}

.cell {
  cursor: pointer;
  width: 10%;
  min-height: 10%;
  font-size: 20px;
  border: 0.05px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 85%;
  /* opacity se mění i pro border */
}

.cell:hover,
.cell:focus {
  opacity: 45%;
}


/* styly pro ikonky na hracím poli: kroužek/křížek */

.board__field--circle {
  background-image: url(ikonky/black_circle.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}

.board__field--cross {
  background-image: url(ikonky/black_cross.svg);
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
}
